# IDE
.idea/
*.iml
.kotlin/
# Gradle и сборка
.gradle/
build/
local.properties
captures/
# iOS
iosApp/iosApp.xcworkspace/xcuserdata/
iosApp/Pods/
*.xcuserstate
# ОС
.DS_Store
Thumbs.db
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
.idea
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
